@media(max-width: 1400px) {
    .main__news {
        flex-wrap: nowrap;
    }

    .main__news-description {
        font-size: 18px;
        line-height: 21px;
        max-width: 540px;
        width: 100%;
    }

    .txt {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 2px;
    }

    .ttl {
        font-size: 17px;
        line-height: 21px;
    }
}

@media(max-width: 1200px){

.main__news {
    max-width: 1138px;
    width: 100%;
}

.main__news-review {
    font-size: 19px;
}

.main__news-description {
    font-size: 16px;
    line-height: 20px;
}
}

@media(max-width: 992px){
.header__img {
    max-width: 992px;
    width: 100%;
}

.main__news-text {
    line-height: 14px;
}

.main__news-description {
    font-size: 14px;
    line-height: 16px;
}
}

@media(max-width: 768px){
    .nav__box {
        max-width: 768px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
    }

    .main__news {
        flex-wrap: wrap;
    }

    .main__news-title {
        font-size: 18px;
    line-height: 21px;
    }

    .main__news-text {
        font-size: 15px;
    line-height: 19px;
    }

    .main__news-one {
        padding-bottom: 13px;
    }

    .main__news-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
        .main__news-review {
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 16px;
        line-height: 18px;
    }

    .main__news-description {
        font-size: 13px;
        line-height: 16px;
    } 
}

.footer__box {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
}

.main__news-main {
    margin: 15px;
}

@media(max-width: 576px){
    .nav__box {
        max-width: 576px;
        width: 100%;
    }

    .nav__box-list {
        font-size: 14px;
        line-height: 19px;
    }

    .footer__box-list {
        font-size: 14px;
        line-height: 19px; 
    }

    .main__news-one {
        border: 1px solid black;
    }
    .main__news-two {
        border: 1px solid black;
    }
    .main__news-three {
        border: 1px solid black;
    }
    .main__news-four {
        border: 1px solid black;
    }
}

@media(max-width: 480px){
    .nav__box-list {
        font-size: 11px;
        line-height: 16px;
    }

    .footer__box-list {
        font-size: 11px;
        line-height: 16px; 
    }
}

@media(max-width: 375px){
    .nav__box-list {
        font-size: 7px;
        line-height: 11px;
    }

    .footer__box-list {
        font-size: 7px;
        line-height: 11px; 
    }
}

